@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
  body {
    font-family: 'DM Sans', sans-serif;
    @apply bg-slate-900 font-body px-5 text-white;
  }
}

@layer components {
  .page-container {
    max-width: 1280px;
    @apply mx-auto;
  }
  .movie-list .swiper-slide {
    width: 300px;
    height: auto;
  }
  .banner .swiper {
    height: 100%;
  }
  .movie-list .swiper,
  .banner .swiper {
    border-radius: 8px;
  }
}

// pagination
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .selected {
    @apply text-primary;
    padding: 10px;
    background: #fff;
    line-height: 10px;
    border-radius: 4px;
  }
}
